.content {
    flex: 1;
    position: relative;
}

.main_content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* pane option-all */

.panes-item {
    display: none;
}

.panes-item.active {
    display: block;
}


.option-all {
    color: var(--white-color);
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 60px;
}

.option-all__margin_bot {
    margin-bottom: 40px;
}

.option-all__song {}

.option-all__song:hover .more-list {
    transform: translateX(0);
    opacity: 1;
}

.option-heading {
    display: flex;
}

.option-heading-name {
    font-size: 2rem;
    margin: 0 0 20px 0;
    padding: 0;
}

.option-all__song-heading-right {
    margin-left: auto;
    display: flex;
}

.option-all__song-heading-right-upload-btn {
    width: 104px;
    background-color: var(--active-color);
}

.option-all__song-heading-right-playall-btn {
    width: 138px;
    background-color: var(--primary-color);
}

.option-all__song-heading-right i {
    padding-right: 8px;
}

/* option-all__song-slider */

.option-all__song-slider {
    width: 270px;
    height: 244px;
    position: relative;
    margin-top: 6px;
}

.option-all__song-slider-img {
    border-radius: 5px;
    cursor: pointer;
    transition: transform .9s;
    transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.option-all__song-slider-img-first {
    width: 230px;
    height: 230px;
    position: absolute;
    right: 0;
    top: 7px;
    bottom: 7px;
    z-index: 3;
    opacity: 1;
    object-fit: cover;
}

.option-all__song-slider-img-second {
    width: 196px;
    height: 196px;
    position: absolute;
    right: 0px;
    top: 24px;
    bottom: 24px;
    z-index: 2;
    opacity: 0.7;
    transform: translateX(-57px);
}

.option-all__song-slider-img-third {
    width: 162px;
    height: 162px;
    z-index: 1;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 41px;
    bottom: 41px;
    transform: translateX(-110px);
}









/* option-all__songs */
.option-all__songs {
    margin-right: -24px;
}

.option-all__songs-list {
    height: 241px;
    overflow-y: auto;
}

.option-music-list {
    width: 100%;
    margin-left: 30px;
}

.songs-item-left-img {
    background-size: contain;
    display: flex;
    object-fit: cover;
}

.songs-item-left-img-playbtn {
    margin: auto;
    font-size: 1.6rem;
}

.songs-item-center span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* option-all__playlist */
.option-all__playlist {}

.option-all__playlist:hover .more-list {
    transform: translateX(0);
    opacity: 1;
}

.option-all__playlist-heading {
    display: flex;
    justify-content: space-between;
}

.option-all__playlist-list {}

.option-all__playlist-item0 {
    height: 100%;
    background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option-all__playlist-item0 i {
    font-size: 4rem;
}

.option-all__playlist-item0 span {
    padding-top: 10px;
    font-size: 1.4rem;
}

.option-all__playlist-item {
    cursor: pointer;
}

.option-all__playlist-item-img-wrapper {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background-color: #ccc;
}

.option-all__playlist-item-img-wrapper:hover .option-all__playlist-item-img-wrapper-action {
    display: flex;
}

.option-all__playlist-item-img-wrapper-action {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.option-all__playlist-item-img-wrapper-action-icon1,
.option-all__playlist-item-img-wrapper-action-icon3 {
    border-radius: 50%;
}

.option-all__playlist-item-img-wrapper-action-icon1 {
    padding: 3px 6px;
    font-size: 2.4rem;
}

.option-all__playlist-item-img-wrapper-action-icon1:hover,
.option-all__playlist-item-img-wrapper-action-icon3:hover {
    background-color: var(--active-color);
}

.option-all__playlist-item-img-wrapper-action-icon2 {
    font-size: 2rem;
    margin: 0 30px;
    padding: 9px 8px 8px 10px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.option-all__playlist-item-img-wrapper-action-icon2:hover {
    opacity: 0.8;
}

.option-all__playlist-item-img-wrapper-action-icon3 {
    padding: 4px 3px;
    font-size: 2.4rem;

}

.option-all__playlist-item-img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    transform: scale(100%);
    /* transition: transform linear 0.2; */
    transition: transform .7s;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


.option-all__playlist-item-img-fix {
    background-size: cover;
}

.option-all__playlist-item-img-mv {
    padding-top: 57%;
    background-size: cover;
}



.option-all__playlist-item-img-wrapper-action:hover~.option-all__playlist-item-img {
    transform: scale(110%);
    filter: brightness(0.5);
}

.option-all__playlist-item-img-singer {
    padding-top: 100%;
    border-radius: 50%;
}

.option-all__playlist-item-img-wrapper.option-all__playlist-item-img-wrapper-mv {
    border-radius: 50%;
}

.option-all__playlist-item-content-mv {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.option-all__playlist-item-content-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.option-all__playlist-item-content-name {}

.option-all__playlist-item-content-name1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 0 2px 0;
}

.option-all__playlist-item-content-name1:hover {
    color: var(--primary-color);
}

.option-all__playlist-item-content-name2 {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--blur-color);
    cursor: default;
}

.option-all__playlist-item-content-singer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.option-all__playlist-item-content-singer-name1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 0 2px 0;
}

.option-all__playlist-item-content-singer-name1:hover {
    color: var(--primary-color);
}

.option-all__playlist-item-content-singer-name2 {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--blur-color);
    cursor: default;
}

.option-all__playlist-item-content-singer-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 30px;
    background-color: var(--sidebar-bg);
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid var(--active-color);
    margin-top: 10px;
}

.option-all__playlist-item-content-singer-profile:hover {
    opacity: 0.8;
}

.option-all__playlist-item-content-singer-profile span {
    text-transform: uppercase;
    padding-left: 6px;
}

.option-all__playlist-item-content-singer-profile i {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-left: 6px;
}



.option-music,
.option-playlist,
.option-singer {
    color: #fff;
    margin: 0 60px;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast__item {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgb(236, 170, 95);
    font-size: 2rem;
    font-weight: 500;
    color: rgb(17, 129, 233);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 2px solid #fff;
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
    cursor: default;
}


.slicesonghot {
    height: 220px;
    /* margin: 0 20px; */
    overflow: hidden;

    .wrapslicesonghot {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        /* margin: 0 -10px; */

        .sliceitem {
            width: 33.333%;
            height: 100%;
            /* padding: 0 10px; */
            position: absolute;
            left: 100%;

            .wrapsliceitem {
                height: 100%;
                padding: 0 10px;

                .wrapthumbnailsliceimg {
                    height: 100%;

                    img {
                        border-radius: 5px;
                        height: 100%;
                        object-fit: contain;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.new_song_item {
    width: 30%;
    overflow: hidden;
}

.row_new_songs {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}