.main-nextsong {
    width: var(--next-song-width);
    /* background-color: var(--sidebar-bg); */
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.nextsong__option {
    height: 70px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    color: var(--white-color);
    /* background-color: green; */
}

.nextsong__option-wrapper {
    width: 230px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4B206E;
    margin-left: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 1.2rem;
}

.nextsong__option-wrapper-listplay,
.nextsong__option-wrapper-history {
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    height: 28px;
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
    cursor: pointer;
}

.nextsong__option-wrapper-listplay {
    width: 120px;
    padding: 0 4px;
}

.nextsong__option-wrapper-history {
    width: 110px;
    padding-right: 4px;
}

.nextsong__option-wrapper-listplay:hover,
.nextsong__option-wrapper-history:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nextsong__option-wrapper-listplay.nextsong__option-wrapper--active,
.nextsong__option-wrapper-history.nextsong__option-wrapper--active,
.nextsong__option-alarm.nextsong__option-wrapper--active {
    background-color: #816399;
}

.nextsong__option-alarm {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 7;
    }
}

.nextsong__option-alarm,
.nextsong__option-more {
    font-size: 1.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.nextsong__option-alarm {
    background-color: var(--active-color);
    padding: 7px 9px;
    margin-left: 12px;
}

.nextsong__option-more {
    padding: 7px 8px;
    background-color: var(--active-color);
    margin-left: auto;
    margin-right: 6px;
}

.nextsong__option-alarm:hover,
.nextsong__option-more:hover {
    opacity: 0.8;
}

.nextsong__option-random {
    font-size: 1.4rem;
    line-height: 4rem;
    font-weight: 500;
    color: var(--blur-color);
    margin: 50px 50px;
    text-align: center;
}



.nextsong__fist-item-background--active.nextsong__fist-item {
    background-color: var(--primary-color);
}

.nextsong__fist-item.nextsong__fist-item-playbtn--active.nextsong__fist-item-background--active .nextsong__item-playbtn {
    display: flex;
}

.nextsong__fist-item.nextsong__fist-item-headding--active .nextsong__item-playbtn {
    display: none;
}

.nextsong__fist-item.nextsong__fist-item-headding--active .songs-item-left-img-playing-box {
    display: flex;
}

.nextsong__item {
    width: 313px;
    height: 56px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
}

.nextsong__last-item:hover {
    background-color: var(--active-color);
}

.nextsong__item:hover .nextsong__item-action {
    display: flex;
}

.nextsong__item:hover .nextsong__item-body-depsc,
.nextsong__item:hover .nextsong__item-body-heading {
    width: 190px;
}


.nextsong__item-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 8px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    cursor: pointer;
}

.nextsong__item-playbtn {
    font-size: 1.5rem;
    color: #fff;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: none;
}

.nextsong__fist-item.nextsong__item .nextsong__item-playbtn {
    display: none;
}

.nextsong__fist-item:hover.nextsong__item:not(.nextsong__fist-item-headding--active) .nextsong__item-playbtn {
    display: flex;
}

.nextsong__fist-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.nextsong__item-body {
    display: flex;
    flex-direction: column;
    /* width: 172px; */
    /* width: 80%; */
    cursor: default;
}

.nextsong__item-body-heading {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nextsong__item-body-depsc {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nextsong__item-action {
    width: 55px;
    font-size: 1.4rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    display: none;
}

.nextsong__item-action-heart,
.nextsong__item-action-dot {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nextsong__item-action-heart {
    margin-right: 4px;
    padding: 6px;
    color: var(--primary-color);
}

.nextsong__fist-item-background--active .nextsong__item-action-heart {
    color: var(--white-color);
}

.nextsong__last .nextsong__item-action-heart {
    color: var(--primary-color);
}

.nextsong__item-action-heart .nextsong__item-action-heart-icon2 {
    display: none;
}

.nextsong__item-action-heart--unheart .nextsong__item-action-heart-icon2 {
    display: block;
}

.nextsong__item-action-heart--unheart .nextsong__item-action-heart-icon1 {
    display: none;
}

.nextsong__item-action-dot {
    padding: 5px;
    color: var(--white-color);
}

.nextsong__item-action-heart:hover,
.nextsong__item-action-dot:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nextsong__box {
    /* height: calc(100vh - var(--music-control-height) - 70px -100px); */
    height: calc(100vh - var(--music-control-height) - 70px);
    overflow-y: auto;
}

.nextsong__fist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nextsong__fist .nextsong__item-playbtn {
    display: flex;
}

.nextsong__last {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nextsong__last-list {
    margin: 0 0 0 4px;
    list-style: none;
    padding: 0 20px;
    width: 100%;
}

.nextsong__last-item:hover .nextsong__item-playbtn {
    display: flex;
}

.nextsong__last-item-end {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: var(--blur-color);
    padding: 20px 0 50px 0;
    text-align: center;
}

.nextsong__last-heading {
    margin: 20px 0 6px 16px;
    padding: 0;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;
    width: 303px;

}