/* @-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
} */

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


.profilepage {
    height: 100%;
    position: relative;
    /* background-image: var(--backgroundimage); */
    /* background-color: var(--backgroundcolor); */
    transition: clip-path ease 1s;

    .wrapprofile {
        position: absolute;
        flex-direction: column;
        display: flex;
        overflow-y: scroll;
        height: 100%;

        .contentuser {
            height: 500px;
            padding: 0 180px;
            position: relative;
            flex-shrink: 0;

            .wrapcontentuser {
                height: 100%;
                width: 100%;
                position: relative;
                min-width: 950px;
                flex-direction: column;
                display: flex;

                .backgroundavatar {
                    max-height: 400px;
                    flex: 1;
                    border-radius: 10px;
                    position: relative;
                    background-color: rgb(31 41 55 / 0.5);
                    background: linear-gradient(to bottom left, rgb(55 65 81 / 0.5), rgb(0 0 0 / 0));
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .wrapbtnfuntion {
                        position: absolute;
                        width: max-content;
                        height: max-content;
                        right: 30px;
                        bottom: 25px;
                        direction: rtl;

                        .btnfuntion {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            padding: 7px 20px;
                            font-size: 16px;
                            font-weight: 700;
                            color: #fff;
                            background-color: rgba(0, 0, 0, 0.4);
                            border-radius: 6px;
                            width: max-content;
                            margin-top: 10px;
                            cursor: pointer;

                            i {
                                margin-right: 8px;
                                font-size: 23px;
                            }

                        }
                    }
                }

                .user {
                    height: 122px;
                    padding: 0 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .avatar {
                        position: absolute;
                        width: 167px;
                        height: 167px;
                        bottom: 0;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 4px solid transparent;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                    .detail {
                        margin-left: 175px;
                        padding-left: 20px;
                        width: max-content;
                        flex: 1;

                        .username {
                            color: #fff;
                            font-size: 30px;
                            font-weight: 600;
                        }

                        .follow {
                            font-size: 18px;
                            margin-top: 10px;
                            display: flex;
                            color: #fff;

                            span {
                                margin: 0 5px;
                                border: 1px solid rgba(200, 200, 200, 0.3);
                            }
                        }
                    }

                    .functionofuser {
                        direction: rtl;

                        .wrapbtnfunction {
                            display: flex;
                            margin-bottom: 15px;

                            .addnew {
                                display: flex;
                                height: max-content;
                                font-size: 17px;
                                padding: 12px 12px;
                                color: #fff;

                                background: var(--color-background);
                                border-radius: 7px;
                                margin-right: 10px;
                                cursor: pointer;

                                i {
                                    margin-right: 5px;
                                }
                            }

                            .updateinfor {
                                display: flex;
                                height: max-content;
                                font-size: 17px;
                                padding: 12px 12px;

                                background-color: rgba(255, 255, 255, .1);
                                border-radius: 7px;
                                color: #fff;
                                cursor: pointer;

                                i {
                                    margin-right: 5px;
                                }
                            }

                        }

                        .btnsuggetfollew {
                            font-size: 16px;
                            padding: 7px 15px;
                            background-color: rgba(255, 255, 255, .1);
                            width: max-content;
                            color: #fff;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }

        .profilecontent {
            flex: 1 1;
            padding: 0 180px;

            .wrapcontent {
                height: 100%;
                width: 100%;
                min-width: 950px;
                margin-top: 30px;
                display: flex;

                .sidebarcontent {
                    width: 300px;
                    height: max-content;
                    color: #fff;
                    /* padding: 10px 20px; */

                    .introduce,
                    .music,
                    .frend {
                        font-size: 21px;
                        font-weight: 600;
                        /* background-color: #34224f; */
                        background-color: rgb(31 41 55 / 0.5);
                        background: linear-gradient(to bottom left, rgb(55 65 81 / 0.5), rgb(0 0 0 / 0));
                        padding: 10px 20px;
                        margin-bottom: 15px;
                        display: flex;
                        justify-content: space-between;
                        border-radius: 5px;

                        i {
                            font-size: 16px;
                        }
                    }
                }

                .containcontent {
                    flex: 1 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}






.contentitem {
    font-size: 17px;
    width: 500px;
    height: max-content;
    background-color: rgb(31 41 55 / 0.5);
    /* background: linear-gradient(to bottom left, rgb(55 65 81 / 0.5), rgb(0 0 0 / 0)); */
    padding: 10px 20px;
    border-radius: 9px;
    margin-bottom: 45px;
    position: relative;

    .headeritemcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .wrapavatar_nameandtime {
            display: flex;
            align-items: center;

            .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .nameandtime {
                .name {
                    color: #fff;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 3px;
                }

                .time {
                    color: #B0B3B8;
                    font-size: 13px;
                }
            }

        }

        .more {
            padding: 0px 6px;
            font-size: 22px;
            color: #fff;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }

    .optionupload {
        display: flex;
        justify-content: space-between;
        color: #fff;

        .normalsong,
        .specialsong {
            width: 50%;
            text-align: center;
            padding: 7px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color ease 0.5s;

            &:hover {
                background-color: #afafaf63;
            }
        }
    }

    .maincontent {
        height: 245px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 45px 0;

        .content {
            position: relative;
            display: flex;
            align-items: center;
            z-index: 2;

            .wrapdisk {
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                height: 250px;
                width: 250px;
                top: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                overflow: hidden;
                background: radial-gradient(#34224f, rgb(22, 22, 22));
                box-shadow: -9px 6px 8px black;
                z-index: 1;
                transition: left ease 0.5s;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .disk {
                left: 25%;
                position: absolute;
                height: 224px;
                width: 224px;
                box-shadow: 0px 0px 15px black;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                overflow: hidden;
                background: radial-gradient(#34224f, rgb(22, 22, 22));
                transition: all ease 0.5s;
                animation: spin 4s linear infinite;

                img {
                    width: 240px;
                    height: 240px;
                    object-fit: contain;
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 56px;
                    width: 56px;
                    border-radius: 50%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(222, 222, 222, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(128, 186, 232, 0) 100%);
                    background-color: #707070;
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 44px;
                    width: 44px;
                    background-color: #a71414;
                    border-radius: 50%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        .thumbnailsong {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 1;
        }

        #fileupload {
            display: none;
        }
    }

    .popupaddthumbnail {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        display: none;

        .wrappopupaddthumbnail {
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;

            .btnaction {
                display: flex;
                margin-top: 5px;

                .agree {
                    padding: 4px 20px;

                    span {
                        color: #0076dc;
                        cursor: pointer;
                        width: max-content;
                    }
                }

                .disagree {
                    padding: 4px 20px;

                    span {
                        color: #b8153d;
                        cursor: pointer;
                        width: max-content;
                    }
                }
            }
        }
    }
}

.action {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    color: #fff;
    margin-bottom: 15px;

    .wrapaction {
        display: flex;

        .heart,
        .comment,
        .save {
            margin-right: 15px;
        }
    }

    .save {}
}

.countofheart,
.textcontent,
.countcomment {
    color: #fff;
    margin-bottom: 15px;
    line-break: anywhere;
}

.addcomment,
.detailinfor {
    margin-bottom: 15px;

    .wrapcomment,
    .wrapinfor {
        display: flex;
        align-items: center;
        justify-content: center;

        .option {
            cursor: pointer;
        }

        textarea {
            padding: 20px 0 !important;
            flex: 1;
            background: transparent;
            border: none;
            outline: none;
            line-height: 18px;
            font-size: 16px;
            color: #fff;
            padding: 0;
            resize: none;
            border-bottom: 1px solid;
            padding-right: 9px;
        }

        .btnsetfile {
            padding: 4px 11px;
            background-color: aliceblue;
            border-radius: 3px;
            position: relative;

            input {
                display: none;

            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        i {
            font-size: 24px;
            color: #fff;
        }
    }
}

.birthimage {
    width: 100%;
    margin-bottom: 15px;

    img {
        width: 100%;
    }
}






.popupthemmoi {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .popupcontentuploadfile {
        .contentitem {
            width: 500px;
            height: max-content;
            background-color: #34224f;
            padding: 10px 20px;
            border-radius: 9px;
            margin-bottom: 20px;
            position: relative;

            .headeritemcontent {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                .wrapavatar_nameandtime {
                    display: flex;
                    align-items: center;

                    .avatar {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .nameandtime {
                        .name {
                            color: #fff;
                            font-size: 17px;
                            font-weight: 600;
                            margin-bottom: 3px;
                        }

                        .time {
                            color: #B0B3B8;
                            font-size: 13px;
                        }
                    }

                }

                .more {
                    padding: 0px 6px;
                    font-size: 22px;
                    color: #fff;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }

                #closepopupuploadfile {
                    background-color: transparent;
                    border: none;
                }
            }

            .optionupload {
                display: flex;
                justify-content: space-between;
                color: #fff;

                .normalsong,
                .specialsong {
                    width: 50%;
                    text-align: center;
                    padding: 7px 0;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color ease 0.5s;

                    &:hover {
                        background-color: #afafaf63;
                    }
                }
            }

            .maincontent {
                height: 245px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .content {
                    height: 200px;
                    width: 200px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    z-index: 2;

                    .wrapdisk {
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                        height: 250px;
                        width: 250px;
                        top: unset;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        overflow: hidden;
                        background: radial-gradient(#34224f, rgb(22, 22, 22));
                        box-shadow: -9px 6px 8px black;
                        z-index: 1;
                        transition: left ease 0.5s;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: none;
                        }
                    }

                    .disk {
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                        height: 224px;
                        width: 224px;
                        box-shadow: 0px 0px 15px black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        overflow: hidden;
                        background: radial-gradient(#34224f, rgb(22, 22, 22));
                        transition: left ease 0.5s;


                        img {
                            width: 240px;
                            height: 240px;
                            object-fit: contain;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            height: 56px;
                            width: 56px;
                            border-radius: 50%;
                            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(222, 222, 222, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(128, 186, 232, 0) 100%);
                            background-color: #707070;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            height: 44px;
                            width: 44px;
                            background-color: #a71414;
                            border-radius: 50%;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }

                .thumbnailsong {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    z-index: 1;
                }

                #fileupload {
                    display: none;
                }
            }

            .popupaddthumbnail {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                display: none;

                .wrappopupaddthumbnail {
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;

                    .btnaction {
                        display: flex;
                        margin-top: 5px;

                        .agree {
                            padding: 4px 20px;

                            span {
                                color: #0076dc;
                                cursor: pointer;
                                width: max-content;
                            }
                        }

                        .disagree {
                            padding: 4px 20px;

                            span {
                                color: #b8153d;
                                cursor: pointer;
                                width: max-content;
                            }
                        }
                    }
                }
            }

        }
    }

    .btmpuload {
        text-align: center;
        height: max-content;
        margin: 20px 0;
        display: flex;
        justify-content: center;

        span {
            cursor: pointer;
            padding: 20px 60px;
            background: var(--color-background);
            border-radius: 0px;
            color: #fff;
            width: 300px;
        }
    }
}





.change_avatar_modal,
.change_background_modal {
    position: fixed;
    top: 0;
    z-index: 6;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .change_avatar_form,
    .change_background_form {
        min-width: 500px;
        background-color: rgb(14 20 33 / 96%);
        border-radius: 7px;
        padding: 20px;
        color: #fff;


        .change_avatar_header,
        .change_background_header {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: 600;
            position: relative;

            .wrap_cancel_btn {
                position: absolute;
                right: 0;
                padding: 0 20px;
                cursor: pointer;
            }
        }

        .contail {
            padding: 0 20px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .wrap_contail {
                width: 500px;
                height: 400px;
                overflow: hidden;
                position: relative;

                ::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 5;
                }

                .image_background {
                    opacity: 0.3;
                    width: 100%;
                    height: 100%;
                    transform: scale(1);
                    transform-origin: center;
                    transition: all ease 1s;

                    img {
                        height: 100%;
                        width: 100%;

                    }
                }

                .wrap_image_select {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .image_select {
                        mask-image: -webkit-radial-gradient(center, white, black);
                        height: 400px;
                        width: 400px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            transform: scale(1);
                            transform-origin: center;
                            transition: all ease 1s;
                            width: 500px;
                            height: 400px;

                        }
                    }
                }

            }
        }

        .scale_control {
            margin-bottom: 30px;
            padding: 0 20px;

            input {
                margin: 0;
            }
        }

        .action {
            justify-content: flex-end;
            padding: 0 20px;

            .save {
                cursor: pointer;
                width: max-content;
                padding: 14px 20px;
                background-color: var(--sub-color);
                border-radius: 8px;
                font-size: 16px;
            }
        }
    }
}




.show_all_comment {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    display: none;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.6);
    justify-content: center;
    z-index: 6;

    .form_show_all_comment {
        width: 500px;
        background-color: rgb(31 41 55 / 0.7);
        height: max-content;
        border-radius: 11px;
        padding: 10px 20px;
        margin: 90px 0;

        .headeritemcontent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            .wrapavatar_nameandtime {
                display: flex;
                align-items: center;

                .avatar {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .nameandtime {
                    .name {
                        color: #fff;
                        font-size: 17px;
                        font-weight: 600;
                        margin-bottom: 3px;
                    }

                    .time {
                        color: #B0B3B8;
                        font-size: 13px;
                    }
                }

            }

            .more {
                background-color: transparent;
                border: none;
                padding: 0px 6px;
                font-size: 22px;
                color: #fff;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }

        .maincontent {
            height: 245px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 45px 0;

            .content {
                position: relative;
                display: flex;
                align-items: center;
                z-index: 2;

                .wrapdisk {
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    height: 250px;
                    width: 250px;
                    top: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    overflow: hidden;
                    background: radial-gradient(#34224f, rgb(22, 22, 22));
                    box-shadow: -9px 6px 8px black;
                    z-index: 1;
                    transition: left ease 0.5s;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .disk {
                    left: 25%;
                    position: absolute;
                    height: 224px;
                    width: 224px;
                    box-shadow: 0px 0px 15px black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    overflow: hidden;
                    background: radial-gradient(#34224f, rgb(22, 22, 22));
                    transition: all ease 0.5s;
                    animation: spin 4s linear infinite;

                    img {
                        width: 240px;
                        height: 240px;
                        object-fit: contain;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        height: 56px;
                        width: 56px;
                        border-radius: 50%;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(222, 222, 222, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(128, 186, 232, 0) 100%);
                        background-color: #707070;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        height: 44px;
                        width: 44px;
                        background-color: #a71414;
                        border-radius: 50%;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }

            .thumbnailsong {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                z-index: 1;
            }

            #fileupload {
                display: none;
            }
        }

        .action {
            margin-bottom: 25px;
        }

        .list_comment {
            padding-top: 15px;
            border-top: 1px solid #ffffffd9;

            .comment_item {
                padding: 10px 0;
                display: flex;
                justify-content: space-between;

                .comment_detail {
                    display: flex;
                    gap: 15px;

                    .comment_avatar {
                        width: 45px;
                        flex-shrink: 0;
                        height: 45px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .detail {
                        .comment_item_user_name {
                            span {
                                font-size: 18px;
                                font-weight: 500;
                                padding: 0;
                                margin: 0;
                                color: #fff;
                                padding-bottom: 2px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }

                        .comment_item_text_content {
                            padding: 7px 0;
                            max-width: 365px;

                            span {
                                font-size: 15.5px;
                                font-weight: 500;
                                padding-top: 2px;
                                color: rgba(255, 255, 255, 0.5);
                                word-wrap: break-word;

                            }
                        }
                    }
                }

                .action_comment {
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 14px;
                    position: relative;

                    &:hover {
                        .comment_btn_delete {
                            display: block;
                        }
                    }

                    i {
                        padding: 6px;
                    }




                    .comment_btn_delete {
                        color: #c93232;
                        position: absolute;
                        right: 100%;
                        font-weight: 600;
                        display: none;
                        cursor: pointer;
                        z-index: 2;
                    }

                }
            }
        }
    }


}


.edit_profile_modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    right: 0;
    display: flex;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.6);
    justify-content: center;
    z-index: 6;

    .edit_profile_form {
        min-width: 500px;
        width: max-content;
        background-color: rgb(31 41 55 / 0.7);
        height: max-content;
        border-radius: 11px;
        padding: 10px 20px;
        margin: 90px 0;
    }
}