@keyframes test {
    from {
        clip-path: circle(0% at 100% 0%);
    }

    to {
        clip-path: circle(150% at 100% 0%);
    }
}

.profilepage {
    height: 100%;
    background-image: var(--backgroundimage);
    background-color: var(--backgroundcolor);
    transition: clip-path ease 1s;
    clip-path: circle(0% at 100% 0%);
    animation: test ease 1s forwards;

    .wrapprofile {
        flex-direction: column;
        display: flex;
        overflow-y: scroll;
        height: 100%;

        .contentuser {
            height: 500px;
            padding: 0 180px;
            position: relative;
            flex-shrink: 0;

            .wrapcontentuser {
                height: 100%;
                width: 100%;
                position: relative;
                min-width: 950px;
                flex-direction: column;
                display: flex;

                .backgroundavatar {
                    flex: 1;
                    border-radius: 10px;
                    position: relative;
                    background-color: rgb(31 41 55 / 0.5);
                    background: linear-gradient(to bottom left, rgb(55 65 81 / 0.5), rgb(0 0 0 / 0));

                    .wrapbtnfuntion {
                        position: absolute;
                        width: max-content;
                        height: max-content;
                        right: 30px;
                        bottom: 25px;
                        direction: rtl;

                        .btnfuntion {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            padding: 7px 20px;
                            font-size: 16px;
                            font-weight: 700;
                            color: #fff;
                            background-color: rgba(0, 0, 0, 0.4);
                            border-radius: 6px;
                            width: max-content;
                            margin-top: 10px;
                            cursor: pointer;

                            i {
                                margin-right: 8px;
                                font-size: 23px;
                            }

                        }
                    }
                }

                .user {
                    height: 122px;
                    padding: 0 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .avatar {
                        position: absolute;
                        width: 167px;
                        height: 167px;
                        bottom: 0;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 4px solid transparent;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                    .detail {
                        margin-left: 175px;
                        padding-left: 20px;
                        width: max-content;
                        flex: 1;

                        .username {
                            color: #fff;
                            font-size: 30px;
                            font-weight: 600;
                        }

                        .follow {
                            font-size: 18px;
                            margin-top: 10px;
                            display: flex;
                            color: #fff;

                            span {
                                margin: 0 5px;
                                border: 1px solid rgba(200, 200, 200, 0.3);
                            }
                        }
                    }

                    .functionofuser {
                        direction: rtl;

                        .wrapbtnfunction {
                            display: flex;
                            margin-bottom: 10px;

                            .addnew {
                                display: flex;
                                height: max-content;
                                font-size: 17px;
                                padding: 12px 12px;
                                color: #fff;

                                background: var(--color-background);
                                border-radius: 7px;
                                margin-right: 10px;
                                cursor: pointer;

                                i {
                                    margin-right: 5px;
                                }
                            }

                            .updateinfor {
                                display: flex;
                                height: max-content;
                                font-size: 17px;
                                padding: 12px 12px;

                                background-color: rgba(255, 255, 255, .1);
                                border-radius: 7px;
                                color: #fff;
                                cursor: pointer;

                                i {
                                    margin-right: 5px;
                                }
                            }

                        }

                        .btnsuggetfollew {
                            font-size: 16px;
                            padding: 7px 15px;
                            background-color: rgba(255, 255, 255, .1);
                            width: max-content;
                            color: #fff;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }

        .profilecontent {
            flex: 1 1;
            padding: 0 180px;

            .wrapcontent {
                height: 100%;
                width: 100%;
                min-width: 950px;
                margin-top: 30px;
                display: flex;

                .sidebarcontent {
                    width: 300px;
                    height: max-content;
                    color: #fff;
                    /* padding: 10px 20px; */

                    .introduce,
                    .music,
                    .frend {
                        font-size: 21px;
                        font-weight: 600;
                        /* background-color: #34224f; */
                        background-color: rgb(31 41 55 / 0.5);
                        background: linear-gradient(to bottom left, rgb(55 65 81 / 0.5), rgb(0 0 0 / 0));
                        padding: 10px 20px;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        border-radius: 5px;

                        i {
                            font-size: 16px;
                        }
                    }
                }

                .containcontent {
                    flex: 1 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}






.contentitem {
    font-size: 17px;
    width: 500px;
    height: max-content;
    background-color: rgb(31 41 55 / 0.5);
    /* background: linear-gradient(to bottom left, rgb(55 65 81 / 0.5), rgb(0 0 0 / 0)); */
    padding: 10px 20px;
    border-radius: 9px;
    margin-bottom: 20px;
    position: relative;

    .headeritemcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .wrapavatar_nameandtime {
            display: flex;
            align-items: center;

            .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .nameandtime {
                .name {
                    color: #fff;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 3px;
                }

                .time {
                    color: #B0B3B8;
                    font-size: 13px;
                }
            }

        }

        .more {
            padding: 0px 6px;
            font-size: 22px;
            color: #fff;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }

    .optionupload {
        display: flex;
        justify-content: space-between;
        color: #fff;

        .normalsong,
        .specialsong {
            width: 50%;
            text-align: center;
            padding: 7px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color ease 0.5s;

            &:hover {
                background-color: #afafaf63;
            }
        }
    }

    .maincontent {
        height: 245px;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            height: 200px;
            width: 200px;
            position: relative;
            display: flex;
            align-items: center;

            .wrapdisk {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                overflow: hidden;
                background: radial-gradient(#34224f, rgb(22, 22, 22));
                box-shadow: -9px 6px 8px black;
                z-index: 1;
                transition: left ease 0.5s;

                img {}
            }

            .disk {
                position: absolute;
                height: 93%;
                width: 93%;
                left: 0%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                overflow: hidden;
                background: radial-gradient(#34224f, rgb(22, 22, 22));
                transition: left ease 0.5s;
                animation: rotate 5s infinite linear;

                &::before {
                    content: "";
                    position: absolute;
                    height: 56px;
                    width: 56px;
                    border-radius: 50%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(222, 222, 222, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(128, 186, 232, 0) 100%);
                    background-color: #707070;
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 44px;
                    width: 44px;
                    background-color: #a71414;
                    border-radius: 50%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        #fileupload {
            display: none;
        }
    }

    .popupaddthumbnail {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        display: none;

        .wrappopupaddthumbnail {
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;

            .btnaction {
                display: flex;
                margin-top: 5px;

                .agree {
                    padding: 4px 20px;

                    span {
                        color: #0076dc;
                        cursor: pointer;
                        width: max-content;
                    }
                }

                .disagree {
                    padding: 4px 20px;

                    span {
                        color: #b8153d;
                        cursor: pointer;
                        width: max-content;
                    }
                }
            }
        }
    }
}

.action {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    color: #fff;
    margin-bottom: 10px;

    .wrapaction {
        display: flex;

        .heart,
        .comment,
        .save {
            margin-right: 15px;
        }
    }

    .save {}
}

.countofheart,
.textcontent,
.countcomment {
    color: #fff;
    margin-bottom: 10px;
    line-break: anywhere;
}

.addcomment,
.detailinfor {
    margin-bottom: 15px;

    .wrapcomment,
    .wrapinfor {
        display: flex;
        align-items: center;
        justify-content: space-between;

        textarea {
            flex: 1;
            background: transparent;
            border: none;
            outline: none;
            line-height: 18px;
            font-size: 16px;
            color: #fff;
            padding: 0;
            resize: none;
            border-bottom: 1px solid;
            padding-right: 9px;
        }

        .btnsetfile {
            padding: 4px 11px;
            background-color: aliceblue;
            border-radius: 3px;
            position: relative;

            input {
                display: none;

            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        i {
            font-size: 24px;
            color: #fff;
        }
    }
}

.birthimage {
    width: 100%;
    margin-bottom: 10px;

    img {
        width: 100%;
    }
}


@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}






.popupthemmoi {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .popupcontentuploadfile {
        .contentitem {
            width: 500px;
            height: max-content;
            background-color: #34224f;
            padding: 10px 20px;
            border-radius: 9px;
            margin-bottom: 20px;
            position: relative;

            .headeritemcontent {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                .wrapavatar_nameandtime {
                    display: flex;
                    align-items: center;

                    .avatar {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .nameandtime {
                        .name {
                            color: #fff;
                            font-size: 17px;
                            font-weight: 600;
                            margin-bottom: 3px;
                        }

                        .time {
                            color: #B0B3B8;
                            font-size: 13px;
                        }
                    }

                }

                .more {
                    padding: 0px 6px;
                    font-size: 22px;
                    color: #fff;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }

                #closepopupuploadfile {
                    background-color: transparent;
                    border: none;
                }
            }

            .optionupload {
                display: flex;
                justify-content: space-between;
                color: #fff;

                .normalsong,
                .specialsong {
                    width: 50%;
                    text-align: center;
                    padding: 7px 0;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color ease 0.5s;

                    &:hover {
                        background-color: #afafaf63;
                    }
                }
            }

            .maincontent {
                height: 245px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .content {
                    height: 200px;
                    width: 200px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    z-index: 2;

                    .wrapdisk {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        overflow: hidden;
                        background: radial-gradient(#34224f, rgb(22, 22, 22));
                        box-shadow: -9px 6px 8px black;
                        z-index: 1;
                        transition: left ease 0.5s;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .disk {
                        position: absolute;
                        height: 93%;
                        width: 93%;
                        left: 0%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        overflow: hidden;
                        background: radial-gradient(#34224f, rgb(22, 22, 22));
                        transition: left ease 0.5s;
                        animation: rotate 5s infinite linear;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            height: 56px;
                            width: 56px;
                            border-radius: 50%;
                            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(222, 222, 222, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(128, 186, 232, 0) 100%);
                            background-color: #707070;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            height: 44px;
                            width: 44px;
                            background-color: #a71414;
                            border-radius: 50%;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }

                .thumbnailsong {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    z-index: 1;
                }

                #fileupload {
                    display: none;
                }
            }

            .popupaddthumbnail {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                display: none;

                .wrappopupaddthumbnail {
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;

                    .btnaction {
                        display: flex;
                        margin-top: 5px;

                        .agree {
                            padding: 4px 20px;

                            span {
                                color: #0076dc;
                                cursor: pointer;
                                width: max-content;
                            }
                        }

                        .disagree {
                            padding: 4px 20px;

                            span {
                                color: #b8153d;
                                cursor: pointer;
                                width: max-content;
                            }
                        }
                    }
                }
            }

        }
    }

    .btmpuload {
        text-align: center;
        height: max-content;
        margin: 20px 0;

        span {
            cursor: pointer;
            padding: 10px 20px;
            background: var(--color-background);
            border-radius: 8px;
            color: #fff;
        }
    }
}