.zm-mainpage {
    flex-grow: 1;
    -ms-flex-positive: 1;
    position: relative;
    width: calc(100% - 570px);
    min-height: 100%;
    transition: margin-right .4s;
    width: 100%;
}

.zm-box {
    display: block;
}

main.zm-section {
    padding: 0 60px;
    margin: 0 auto;
}

main.zm-section>.container {
    min-height: calc(100% - 158px);
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.mymusic-overivew {
    padding-top: 40px;
}

.mymusic-overivew .header {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0;
}

.mymusic-overivew .header .text {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.mymusic-overivew .header .zm-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    margin-left: 12px;
}

.zm-btn {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;

    .icon {
        line-height: 66%;
        display: inline-block;
    }
}

/* .bottom-section {
    margin-top: 48px;
    margin-bottom: 80px;
} */

.mymusic-overivew .zm-navbar-wrap {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.zm-navbar-wrap {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    margin: 0 calc(59px* -1);
    padding-left: 59px;
    margin-bottom: 28px !important;
}

.mar-t-30 {
    margin-top: 30px !important;
}

.zm-navbar-wrap .zm-narbar-container {
    display: flex;
    align-items: center;
    min-height: 32px;
}

.zm-navbar-wrap .zm-navbar-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
}

.mymusic-overivew .zm-navbar-wrap .zm-navbar-item {
    margin: 0 40px 0 0;
}

.zm-navbar-wrap .zm-navbar-item.is-active {
    color: #fff;
}

.zm-navbar-wrap .zm-navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    color: var(--navigation-text);
    margin: 0 20px;
    line-height: normal;
}

.zm-navbar-wrap .zm-navbar-item .navbar-link a {
    display: block;
    padding: 15px 0;
    color: #fff;
}

.mar-b-20 {
    margin-bottom: 20px !important;
}

.zm-nav-buttons .item.active {
    border-color: #9b4de0;
    background-color: #9b4de0;
    color: #fff;
}

.zm-nav-buttons .item {
    font-weight: 400;
    font-size: 12px;
    padding: 4px 10px;
    border: 1px solid;
    border-radius: 999px;
    text-transform: uppercase;
}

a,
a.active,
a:hover {
    text-decoration: none;
}

.zm-nav-buttons .item:not(:first-child) {
    margin-left: 16px;
    color: #fff;
}

.zm-library-song {
    margin-left: -10px;
}

.song-list-select .select-header {
    /* justify-content: space-between; */
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
    height: 46px;
}

.select-item {
    z-index: 2;
}

.select-item :hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.select-item .list-item .media .media-right button,
.select-item .list-item .media .media-center button :hover {
    background-color: hsla(0, 0%, 100%, 0.3) !important;
}

.select-item .list-item .media .media-right,
.select-item .list-item .media .media-center :hover {
    background-color: none !important
}

.select-item .list-item .media .media-right .action-items,
.select-item .list-item .media .media-center .action-items :hover {
    background-color: none !important
}

.media {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.artist-names {
    display: flex;
    gap: 5px;
    color: hsla(0, 0%, 100%, 0.5);
}

.is-40x40 {
    img {
        object-fit: cover;
        border-radius: 3px;
        width: 50px;
        height: 50px;
    }
}

.song-list-select .select-header .media-left {
    width: 50%;
}

.media-left {
    margin-right: 10px;
}

.media-left {
    display: flex;
    width: 50%;
}

.media-left,
.media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;

    .list_option {
        position: fixed;
        width: max-content;
        height: max-content;
        background-color: var(--sub-color);
        z-index: 3;
        transform: translate(0%, 46%);
        border-radius: 3px;

        .item {
            cursor: pointer;
            padding: 5px 0;
            width: 100%;
            font-size: 16px;
            color: #fff;
            padding: 10px 10px;

            :hover {
                background-color: aqua !important;
            }
        }
    }
}

/* .media-right .list_option :hover {
    background-color: var(--sub-color) !important;
} */

.song-list-select .select-header .media-content {
    margin-left: -10px;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    align-self: center;
    width: 0;
}

.song-list-select .select-header .column-text {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.5);
}

.mar-l-10 {
    margin-left: 10px !important;
}

.media {
    .media-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.media-right {
    margin-left: 10px;
}

.media-left,
.media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.song-list-select .select-header .column-text {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.5);
}

.song-list-select .select-item {
    display: flex;
    position: relative;
}

.song-list-select .select-item .checkbox-wrapper {
    cursor: pointer;
    position: absolute;
    width: 34px;
    height: 34px;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    top: 50%;
}

.song-list-select .select-item .checkbox {
    justify-content: center;
    align-items: center;
}

.checkbox,
.checkbox input {
    cursor: pointer;
    position: relative;
}

.checkbox {
    line-height: 1.25;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.song-list-select .checkbox input {
    border-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 3px;
    margin: 0;
    padding: 6px;
}

.song-list-select .select-item .media-item {
    max-width: 100%;
    flex-grow: 1;
}

.media-left {
    background-color: transparent !important;

    .song-thumb {
        background-color: transparent !important;

        .image {
            background-color: transparent !important;
        }
    }

    .card-info {
        flex-direction: column;
        display: flex;
        justify-content: center;
        background-color: transparent !important;

        .title-wrapper {
            background-color: transparent !important;

            .title {
                background-color: transparent !important;

                span {
                    background-color: transparent !important;
                }

                .text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 500px;
                }
            }
        }

        .is-one-line {
            background-color: transparent !important;

            .artist-names {
                background-color: transparent !important;

                span {
                    background-color: transparent !important;
                }
            }
        }
    }
}


.list-border .list-item {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
}

.zm-dropdown-content {
    display: none;
}

.media-right {
    button {
        color: #fff;
        cursor: pointer;
        padding: 7px 15px;
        border-radius: 2px;
        border: none;
    }
}

.wrap_popup {
    position: fixed;
    display: none;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.wrap_view_component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 5;
}

.form_view {
    background-color: var(--sub-color);
    padding: 20px;

    .item_song {
        max-width: 300px;
        flex-direction: column;
        display: flex;
        gap: 25px;

        .wrap_song {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            overflow: hidden;
            max-width: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item_song_title {
            font-size: 22px;
            font-weight: 600;
            color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .item_song_play {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                padding: 10px 20px;
                border: none;
                background-color: hsla(0, 0%, 100%, 0.1);
                color: #fff;
            }
        }
    }
}


.wrap_detail_upload {
    height: max-content;
    width: 100%;
    display: flex;
    padding: 60px 0;

    .detail_contain_1 {
        width: 30%;
        height: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;

        .contain_1_song {
            width: 300px;
            height: 300px;
            background-color: hsla(0, 0%, 100%, 0.1);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .contain_1_play {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            margin-top: 15px;

            .wrap_img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #fff;

                i {
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }

    .detail_contain_2 {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .wrap_image {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, 0.3);

        .image {
            width: 1280px;
            height: 720px;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}


.status_pending {
    background-color: #f19240;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.status_approved {
    background-color: #5daf6b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.status_cancelled {
    background-color: #c12525;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.wrap_form_set_status {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .form_set_status {
        background-color: var(--sub-color);
        min-width: 370px;
        border-radius: 9px;

        .form_set_status_header {
            .header {
                font-size: 23px;
                color: #fff;
                height: max-content;
                padding: 25px 20px;
            }
        }

        .form_set_status_container {
            margin: 30px 0;
            height: max-content;

            .wrap_input_status {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .input_status {
                    height: 35px;
                    width: 100%;
                    margin: 0 20px;
                    background-color: hsla(0, 0%, 100%, 0.3);
                    border-radius: 3px;
                    flex-direction: column;
                    display: flex;
                    justify-content: center;
                    padding: 0 20px;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                }



                .status_list {
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    left: 0;
                    padding: 0 20px;
                    margin-top: 5px;

                    .wrap {
                        border-radius: 3px;
                        overflow: hidden;

                        .status_item {
                            width: 100%;
                            font-size: 16px;
                            display: flex;
                            padding: 0 20px;
                            height: 35px;
                            flex-direction: column;
                            justify-content: center;
                            background-color: hsla(0, 0%, 100%, 0.3);
                            border: none;
                            color: #fff;
                            cursor: pointer;
                        }

                        .status_item:hover {
                            background-color: hsla(0, 0%, 100%, 0.5);
                        }
                    }
                }

            }
        }

        .form_set_status_footer {
            display: flex;
            justify-content: flex-end;
            padding: 20px;

            .wrap_footer {
                button {
                    padding: 7px 12px;
                    cursor: pointer;
                    color: #fff;
                    background-color: hsla(0, 0%, 100%, 0.3);
                    border: none;
                    border-radius: 3px;

                    :hover {
                        background-color: hsla(0, 0%, 100%, 0.5);
                    }
                }
            }
        }
    }
}