.dashboard-layout {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.wrap_layout {
    flex: 1;
    display: flex;
}

.dashboard-content {
    flex: 1;
    flex-direction: column;
    display: flex;
}